@charset "UTF-8";
*{ margin: 0;

}

body{
    text-align: center;
    padding-top: 200px;
    background-color: whitesmoke;
}
h1{
    color: rgb(190, 150, 49);
    padding-bottom: 10px;
}
#txt{
    background-color: rgb(241, 232, 197);
    height: 8vw;
    border: none;
    width: 50vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    text-align: right;
    font-size: 2vw;
}
/* quando clicar no imput a nao aparecer a borda*/
#txt:focus{
   outline: none;
}

#txt1{
  background-color: rgb(241, 232, 197);
  height: 8vw;
  border: none;
  width: 50vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
  text-align: right;
  font-size: 2vw;
}
div{
    padding-top: 1vw;
}

div > p {
   display: none;
}

div:hover > p{
   display: block;
   color: whitesmoke;
   background-color: whitesmoke;
   width: 200px;
   margin: auto;
   
}

div:hover{
  color: brown; 
  
} 
#inputt{
  padding-top: 1vw;
}

#button{
  padding-top: 2vw;
}
button{
  border: none;
  background-color: rgb(236, 181, 41);
  color: white;
  height: 6vw;
  width: 20vw;
}

footer{
   padding-top: 200px;
} 